.clothes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-bottom: 20px;
  /* border-bottom: 0.25px solid #e7eaed; */
}

.pinned-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-bottom: 20px;
  border-bottom: 0.25px solid #e7eaed;
}

.section-title {
  display: flex;
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.clothes {
  margin: 10px;
  border: 1px solid #535C6D;
  border-radius: 15px;
  flex-wrap: wrap;
  width: 250px;
}

.clothes-info {
  margin: 5px;
}

.add-wears {
  background-color: darkgreen;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 15px;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-wears:hover {
  background-color: #008400;
  cursor: pointer;
}

.delete-item {
  background-color: cornflowerblue;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.delete-item:hover {
  background-color: red;
  cursor: pointer;
}

p {
  font-size: medium;
}

.filter-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-box {
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
  width: 200px;
}

.item-pin {
  cursor: pointer;
  background-color: darkgray;
  border-radius: 15px;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pin-icon {
  text-align: end;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 5px;
}

.pin-icon:hover {
  opacity: 1;
}

.item-name {
  font-size: 16px;
  font-weight: bold;
}

.img-closet {
  margin-top: 100px;
  height: auto;
  width: 200px;
}